<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="D.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <D.Properties.Settings>
            <setting name="HardDriveImage" serializeAs="String">
                <value />
            </setting>
            <setting name="FloppyDriveImage" serializeAs="String">
                <value />
            </setting>
            <setting name="ThrottleSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HostAddress" serializeAs="String">
                <value>2852201285</value>
            </setting>
            <setting name="HostPacketInterfaceName" serializeAs="String">
                <value />
            </setting>
            <setting name="MemorySize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="SlowPhosphor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TODDateTime" serializeAs="String">
                <value>1979-12-10</value>
            </setting>
            <setting name="TODSetMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TODDate" serializeAs="String">
                <value>1955-11-05</value>
            </setting>
        </D.Properties.Settings>
    </userSettings>
</configuration>